.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0rem;
}

.card {
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.8rem;
  width: 90%;
  max-width: 48rem;
  margin: 0 auto;
}

.cardTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.profileContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profileImage {
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.userEmail {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}

.editButton {
  margin-top: 1rem;
  width: 100%;
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.editButton:hover {
  background-color: #2563eb;
}

.emptyMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 1.2rem;
  color: #666;
  background-color: white;
  font-style: italic;
}

.scheduleList {
  list-style-type: none;
  padding: 0;
}

.scheduleItem {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid #e5e7eb;
  font-size: 1.2rem;
}

.scheduleItem:last-child {
  border-bottom: none;
}

.scheduleTime {
  font-weight: bolder;
  flex-shrink: 0;
  width: 5.5rem;
}

.scheduleTitle {
  flex: 1;
  word-break: break-all;
  white-space: normal; /* 자동 줄바꿈 */
}

.departmentList {
  list-style-type: none;
  padding: 0;
}

.departmentItem {
  display: flex;
  padding: 0.75rem 0;
  border-bottom: 1px solid #e5e7eb;
  font-size: 1.2rem;
  font-weight: bold;
}

.departmentItem:last-child {
  border-bottom: none;
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  background-color: white;
}

.loading {
  color: #3498db;
}

.loading::after {
  content: '';
  width: 20px;
  height: 20px;
  margin-left: 15px;
  border: 2px solid #3498db;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: #e74c3c;
}

.error::before {
  content: '⚠️';
  font-size: 1.5rem;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .container,
  .card {
    width: 100%;
    padding: 1.5rem;
  }

  .cardTitle {
    font-size: 2.2rem;
  }

  .userName {
    font-size: 1.8rem;
  }

  .userEmail,
  .editButton,
  .scheduleItem {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  .container,
  .card {
    width: 28rem;
  }
}
