.react-calendar {
  width: 100%;

  border: 0.1rem solid var(--color-gray-light);
  border-radius: 0.5rem;
}

.react-calendar button {
  width: 2rem;
  height: 8rem;
}
.react-calendar__tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
}

.react-calendar__tile--active {
  background: #fff;
  color: var(--color-black);
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #f0f0f0;
}

.react-calendar__tile--now {
  background: #fff;
}
.react-calendar__navigation {
  display: flex;
  height: 40px;
  margin-bottom: 4rem;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0 0 1rem 0;
  border-bottom: 0.1rem solid var(--color-gray-light);
  margin-bottom: 1rem;
}
.react-calendar__month-view__weekdays__weekday:last-child {
  color: var(--color-caution);
}
.react-calendar__month-view__weekdays__weekday:nth-child(6) {
  color: var(--color-main);
}
abbr {
  text-decoration: none;
}
