.calendarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.eventMarker {
  padding: 0.2rem;
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tile {
  position: relative;
  width: 100%;
}

.eventBtn {
  color: #000;
  border-radius: 0.25rem;
}
