.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -2rem;
  margin-left: -0.3rem;
  margin-right: -0.3rem;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 360px;
  }
}
.carouselWrapper {
  height: 20rem;
  position: relative;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 360px;
  }
}
.carouselImg {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto; */
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.leftArrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.rightArrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.contentWrapper {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--color-gray-light);
  border-top: 0.1rem solid var(--color-gray-light);
  width: 100%;
  padding: 1rem 2rem;
  gap: 1rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.eventTitle {
  color: var(--black-333, #333);
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.06rem;
  width: 60%;
}

.shareButton {
  width: 2.4rem;
  height: 2.4rem;
  background: #fff;
  border: 0.1rem solid var(--color-gray-light);
  border-radius: 0.4rem;
  position: relative;
}

.shareIcon {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 0.8rem;
}

.contentTitle {
  color: var(--black-333, #333);
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.38rem;
  white-space: nowrap;
}

.periodtxt {
  color: var(--main_color, #5849ff);
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.38rem;
}
.txt {
  color: var(--black-333, #333);
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.38rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.shareModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  cursor: pointer;
  border-radius: 1rem 1rem 0rem 0rem;
  background: var(--white, #fff);
  width: 100%;
  border: 1px solid var(--color-gray-light);
  padding: 1.2rem 2.1rem;
  position: absolute;
  bottom: 5.5rem;
  left: 0;
}
.shareWrapper {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  padding: 1.2rem 0;
  width: 100%;
  border-bottom: 1px solid var(--color-gray-light);
}
.shareWrapper:last-child {
  border-bottom: none;
}

.linkIconWrapper {
  width: 2.4rem;
  height: 2.4rem;
  padding: 1.2rem;
  border: 1px solid var(--color-gray-light);
  border-radius: 50%;
}

.kakaoIcon {
  width: 2.4rem;
  height: 2.4rem;
}
.linkIcon {
  width: 1.2rem;
  height: 1.2rem;
  transform: translate(-50%, -50%);
}

.shareText {
  padding-left: 0.3rem;
  color: var(--color-black);
  font-size: 1.4rem;
  line-height: 2.38rem;
  cursor: pointer;
}

.modalbar {
  width: 2.7rem;
  height: 0;
  border-bottom: 0.4rem solid var(--color-gray-bright);
}

.commentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem 1.5rem 2rem;
  gap: 1.6rem;
}
.commentTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  color: var(--color-black);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.06rem;
}

.commentCnt {
  color: var(--color-main);
}
.commentContent {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  border-bottom: 0.1rem solid var(--color-gray-light);
  padding-bottom: 1.5rem;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.commentUser {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
}
.commentName {
  color: #000;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
}
.commentDate {
  color: var(--color-gray-middle);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
}
.kebabIcon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.comment {
  width: 100%;
  color: #000;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .commentInput {
  width: 100%;
  color: #000;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
} */

.editmodal {
  display: flex;
  width: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 1rem;
  position: absolute;
  top: 2.5rem;
  right: -1rem;
  border: 0.1rem solid var(--color-gray-light);
  background: var(--color-white);
  z-index: 100;
}
.bar {
  width: 100%;
  height: 0;
  border-bottom: 0.1rem solid var(--color-gray-light);
  background-color: var(--color-gray-light);
}
.modalcontent {
  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.8rem 0;
}
.modalcontent:hover {
  color: var(--color-main);
  background-color: #f0f0f0;
}

.commentInput {
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  background: var(--gray_bright, #ededed);
  color: #333;
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.38rem;
  outline: none;
  border: none;
  padding: 0 1rem;
  &::placeholder {
    color: var(--gray_middle, #787878);
    font-family: Pretendard;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.38rem; /* 170% */
  }
}

.editInput {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #333;
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.38rem;
  outline: none;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
  flex-wrap: wrap;
  width: 38%;
}

.heartIcon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
