*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  --color-main: #5849ff;
  --color-white: #ffffff;
  --color-black: #333333;
  --color-gray-middle: #787878;
  --color-gray-semi: #959595;
  --color-gray-light: #dfdfdf;
  --color-gray-bright: #ededed;
  --color-caution: #cd0000;
  --color-gray-bright_bg: #f5f5f5;
  --color-green: #2db400;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Pretendard', 'Noto Sans', sans-serif;
  cursor: default;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}
